.App {
  text-align: center;
}

.card{
  width: 18rem;
}
.product-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(230, 240, 240);
  min-height: 555px;
}
.li-btn:hover{
  cursor: pointer;
}